body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  padding: 8px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  margin-top: 10px;
  font-size: 16px;
  margin: 8px 8px;
  padding: 10px;
  background: #e3f4ff;
}

.content {
  margin: 8px;
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px 10px;
  padding: 20px;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid #eee;
}